
  <!-- sign up / sign in menu bar  -->
  

  <!-- task management dashboard if signed in -->

<% if current_user %>
  
<% else %>
	<div id="home_text">
		<p>Welcome to Pollin8, a new web app designed to help you share referrals, stay organized, and grow your business.</p>
	  <p>With Pollin8 you will be able to send and receive referrals, and track all of your "to-do's" from one mobile dashboard.</p>	
	  <p>We are just beginning the Beta testing phase, and you are invited to be a part of the development process for free.</p>
	  <p>Give it a test drive, and check back regularly for the latest updates.</p>
	</div>
<% end %>
  

