<% participant.phone_numbers.each do |num| %>
    <%= content_tag :li, "number: #{num.number} - #{num.phone_type}" if num.number %>
<% end %>

<% participant.emails.each do |email| %>
    <li>Email: <%= mail_to email.email, email.email if email.email %></li>
<% end %>