<div class="dash_header">
  <ul class="dash_attribute">
    <li class="normal">Date</li>
    <li class="wide">Project</li>
    <li class="normal">Urgency</li>
    <li class="normal">Call/email</li>
    <li class="normal ">Next</li>
    <li class="wide">by when</li>
    <li class="normal">Notes</li>
  </ul>
</div>