  <!-- profile page -->
  <%= render'shared/notifications' %>
  <div class="contact_page">
    

    <div class="info_container">
      <%= render'shared/contact_info', contact: @user %>
      <%= render'shared/contact_address', contact: @user %>
    </div>

      
  </div>
  <%= render'shared/referral_links', user: @user %>

 
  


