  <p>Preferred Method of Contact</p>
   <ul data-new="<%= @referral.new_record? %>">
      <%= content_tag :li, "Phone", class: "preferred_contact #{add_gray_out(@type, 'preferred_contact', 'phone') unless @referral.new_record?}", :"data-field" => "preferred_contact", :"data-preferred_contact" => "phone", :"data-type" => @type %>
      <%= content_tag :li, "Email", class: "preferred_contact #{add_gray_out(@type, 'preferred_contact', 'email') unless @referral.new_record?}", :"data-field" => "preferred_contact", :"data-preferred_contact" => "email", :"data-type" => @type %>
    </ul>
