$lblue: #47ABCC;

body {
  width: 100%;
  background: url(blue-back.jpg) repeat;

}

#dashboard {
  width:100%;
  height:auto;  
}

#logo {
  width:100%;
  height: auto;
}

.full {
  margin: 0px 0px 0px 0px;
  padding: 0px;
  text-align: center;
  width: 100%;
  color: #fff;
  min-height: 32px;
  height:auto;
}

.header {

  .header_links_container {
    width:auto;
    margin:auto;
    height:15px;

      a li {
        width:75px;
        float:left;
        list-style: none;
        color:white;
      }

    
  }
}
.menu_items {
  h3 a{
    color:white;
  }

  h2, h3 {
    
    background: #4aaecf;
    background: -webkit-linear-gradient(top,  #4aaecf 0%, #005c7a 100%);
    background: -moz-linear-gradient(top,  #4aaecf 0%, #005c7a 100%);
    background: -o-linear-gradient(top,  #4aaecf 0%, #005c7a 100%);
    background: -ms-linear-gradient(top,  #4aaecf 0%, #005c7a 100%);
    background: linear-gradient(top,  #4aaecf 0%, #005c7a 100%);
    /* FF3.6+ */
    cursor:pointer;
    border-bottom: 3px groove #008DBB;
    text-shadow: 0 -1px 0 black;
    font-size: 40px;
    padding: 20px 0px;
  }
  &:hover{
    background: -webkit-linear-gradient(top,  #005c7a 0%, #4aaecf 100%);
    background: -moz-linear-gradient(top,  #005c7a 0%, #4aaecf 100%);
    background: -o-linear-gradient(top,  #005c7a 0%, #4aaecf 100%);
    background: -ms-linear-gradient(top,  #005c7a 0%, #4aaecf 100%);
    background: linear-gradient(top,  #005c7a 0%, #4aaecf 100%);
    /* FF3.6+ */

  }
  .section {
    background:transparent;
  }
}

.network_action_btns {
    
    background:black;
    margin-top:20px;
 
    a .actions {
      float: left;
      width: 50%;
      height: 37px;
      margin-top: -13px;
      padding-top: 16px;
      text-align: center;
      color: #fff;
      cursor: pointer;
      font-size: 12px;

      &:hover {
        background:gray;
      }
    }
}

.contact_list_member {
  border-bottom:2px solid #fff;
  clear: both;
  img{
    float: left;
    margin: 15px 2%;
  }
  h4{
    padding-top: 10px;
  }
  a {
    display: block;
    width:100%;
    height: 100%;
  }
}
.odd {
  background:gray;
}

.even {
  background: rgb(216, 216, 216);
color: black;
}

// container for image, [name, phone, email]
ul.contact_profile {
  width: 100%;
  height: 75px;
  margin: 0px;
  padding: 10px 0px 0px 0px;
  overflow: hidden;

  li {
    float:left;
    height:75px;
    width:77%;
    list-style: none; 
  }

  img {
    float:left;
    margin-left:3%;
    box-shadow: 0px 0px 5px gray;
    margin-top:5px;
  }
}

// container for name phone email
ul.contact_info {
    min-height: 50px;
    width: 100%;
    margin: 0px;
    padding:0px;
    margin-left: 10px;
    height: auto;

    li.full_name {
      font-size: 18px;
      font-weight: bold;
      text-align: center;
      width: 100%;
    }

    a, a li, li {
      float: none;
      width: 100%;
      margin: 0px;
      padding: 0px;
      height: auto;
      text-align:left;
      display: block;
    }

    a:hover, a li:hover {
      background:none;
      color:#fff;
    }
}

ul.address_info {
    height: auto;
    margin: 10px 3%;
    padding: 0;
    width: 100%;

    li {
      float: none;
      width: 100%;
      margin: 0px;
      padding: 2px;
      height: auto;
      text-align: left;
      display: block;
      color:black;
    }
}

.contact_page {
  background: $lblue;
  padding: 10px 0px;
  border-radius: 10px;
  width:90%;
  margin:0px 5% 10px;
  img {
    margin-left:3%;
    float:left;
    margin-bottom: 15px;
  }
  h4 {
    width:75%;
    float: left;
    text-align: center;
  }
  li {
    clear:both;
    margin:10px 0px 10px 10%;
    list-style: none;
  }

  .info_container {
    background:gray;
  }
}

.add_a_contact {
  height: 31px;
  padding-top: 8px;
  text-decoration: none;
  width:100%;
  
  &:hover {
    text-decoration: underline;
    color:blue;
  }
}

.send_info {
  p{
    border-radius: 10px 10px 10px 10px;
    color: white;
    font-size: 16px;
    height: 60px;
    margin: 0 0 -36px 4%;
    padding: 5px 1%;
    text-align: center;
    text-shadow: 0 0 2px black;
    width: 90%;
    font-weight: bold;
  }
}