// Place all the styles related to the Referrals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.new_referral_message {
	background:#3b5998;
	height: auto;
	text-align:center;
}

.highlight {
	-moz-box-shadow: 0px 0px 5px gray;
-webkit-box-shadow: 0px 0px 23px gray;
box-shadow: 0px 0px 22px 1px rgb(59, 122, 152);
border: 1px solid gold;
}

.participants {
	width:100%;
	height:100px;

	.participant {
		width: 28%;
		padding: 8px;
		margin: 14px;
		float: left;
		height: 110px;
		background: #000;
		color:gray;

		img {
			width: 60%;
			margin: 5% 20%;
			-moz-box-shadow:    0px 0px 5px #ccc;
			-webkit-box-shadow: 0px 0px 5px #ccc;
			box-shadow:         0px 0px 5px #ccc;
			border:1px solid gray;
		}

		select#lead_referee_id {
			position: absolute;
			margin-left: -2%;
			top: 240px;
			float: left;
			width:135px;
		}

		select#lead_target_id {
			position: absolute;
			margin-left: -3%;
			top: 240px;
			float: left;
			width:135px;
		}
	}

	.arrow {
		width: 12%;
		float: left;
		height: 24px;
		padding: 2px;
		margin-top: 74px;

		img {
			margin-left:-13%;
			margin-top:-30px;
		}
	}
}


.referral_add_contact {
	position:absolute;
	top:266px;
	color:gray;

	&:hover{
		:color:black;
	}
}

.ref_field {
	width: 80%;
	margin: auto;
	background: black;
	padding-bottom: 15px;
	p {
		text-align: center;
		color:#fff;
	}

	ul {
		padding:0px;
		li {
			float:left;
			list-style: none;
		}
	}
}

.lead_hotness {	
	height: 101px;
	margin-top: 90px;

	ul {
		padding:0px;
		li {
			width: 16%;
			margin-left: 3%;
			float: left;
			list-style: none;
			margin-top: 6px;
			font-size: 12px;
			padding: 10px 5px 0px 5px;
			height: 27px;
			text-align: center;
			cursor: pointer;
			opacity: 1;
			color: #fff;

			&:hover {
				
				-moz-box-shadow:    0px 0px 5px #ccc;
				-webkit-box-shadow: 0px 0px 5px #ccc;
				box-shadow:         0px 0px 5px #ccc;
				color:#fff;
				opacity:1;
			}
		}

		li:nth-child(1) {
			background: red;

			&:hover {
				background:gray;
				border:1px solid red;

			}

		}

		li:nth-child(2) {
			background: brown;
			&:hover {
				background:gray;
				border:1px solid brown;
			}
		}

		li:nth-child(3) {
			background: rgb(170, 170, 44);
			&:hover {
				background:gray;
				border:1px solid rgb(170, 170, 44);
			}
		}

		li:nth-child(4) {
			background: green;
			&:hover {
				background:gray;
				border:1px solid green;
			}
		}

		.grayed_out {
			background: gray;
			opacity : .25;
		}

	}
	
}

// comments box 

.lead_comments {
	min-height: 50px;
	height:auto;
	margin-top: 20px;
	
	p {
		text-align: center;
		color:#fff;
	}

	textarea {
		margin-left:8%;
		width:80%;
	}


}

.lead_card_given {
	height:80px;
	margin-top:20px;

	ul {
		padding:0px;

		li {
			width: 16%;
			margin-left: 23%;
			border: 1px solid gray;
			float: left;
			list-style: none;
			margin-top: 6px;
			font-size:12px;
			padding: 10px 5px 0px 5px;
			height: 27px;
			height:27px;
			text-align: center;
			cursor:pointer;
			opacity: 1;
			color:#fff;

			&:hover {
				
				-moz-box-shadow:    0px 0px 5px #ccc;
				-webkit-box-shadow: 0px 0px 5px #ccc;
				box-shadow:         0px 0px 5px #ccc;
				color:#fff;
				opacity:1;

			}
		}

		li:nth-child(2) {
			background: red;

			&:hover {
				background:gray;
				border:1px solid red;
			}

		}

		li:nth-child(1) {
			background: green;
			&:hover {
				background:gray;
				border:1px solid green;
			}
		}

		.grayed_out {
			background: gray;
			opacity : .3;
		}
	}
}

.lead_preferred_contact {
	height:80px;
	margin-top:20px;

	ul {
		padding:0px;

		li {
			width: 16%;
			margin-left: 23%;
			border: 1px solid gray;
			float: left;
			list-style: none;
			margin-top: 6px;
			font-size:12px;
			padding: 10px 5px 0px 5px;
			height: 27px;
			height:27px;
			text-align: center;
			cursor:pointer;
			opacity: 1;
			color:#fff;

			&:hover {
				
				-moz-box-shadow:    0px 0px 5px #ccc;
				-webkit-box-shadow: 0px 0px 5px #ccc;
				box-shadow:         0px 0px 5px #ccc;
				color:#fff;
				opacity:1;
			}
		}

		li:nth-child(2) {
			background: red;

			&:hover {
				background:gray;
				border:1px solid red;
			}

		}

		li:nth-child(1) {
			background: green;
			&:hover {
				background:gray;
				border:1px solid green;
			}
		}

		.grayed_out {
			background: gray;
			opacity : .3;
		}
	}
}

.submit_referral_btn {
	margin: auto;
	margin-top: 5%;
	background: rgb(232, 239, 241);
	width: 40%;
	-moz-box-shadow: 0px 0px 5px #cccccc;
	-webkit-box-shadow: 0px 0px 5px #cccccc;
	box-shadow: 0px 0px 5px #cccccc;
	border-radius: 5px;
	webkit-border-radius: 5px;
	moz-border-radius: 5px;

	input[type='submit'] {
		margin:10%;
		background: #3b5998;
		color:white;
		text-align:center;
	}
}

// show "referral slip"

.referral_slip {
	height:auto;
	width:100%;
	background:#fff;
	ul {
		padding:0px;

		li {
			list-style: none;

		}
	}
}

.warm_up_now_or_later {
	height: 100px;
	width:80%;
	margin-left:10%;

	ul li {
		width: 23%;
		margin-left: 15%;
		border: 1px solid gray;
		float: left;
		list-style: none;
		margin-top: 6px;
		font-size:12px;
		padding: 10px 5px 0px 5px;
		height: 27px;
		height:27px;
		text-align: center;
		cursor:pointer;
		opacity: 1;
		color:#fff;

		&:hover {
			
			-moz-box-shadow:    0px 0px 5px #ccc;
			-webkit-box-shadow: 0px 0px 5px #ccc;
			box-shadow:         0px 0px 5px #ccc;
			color:#fff;
			opacity:1;

		}
	}

	ul li:nth-child(2) {
		background: red;

		&:hover {
			background:gray;
			border:1px solid red;
		}

	}

	ul li:nth-child(1) {
		background: green;
		&:hover {
			background:gray;
			border:1px solid green;
		}
	}

	.grayed_out {
		background: gray;
		opacity : .3;
	}
}

.warm_up_now {
	height: 140px;
	width:80%;
	margin-left:10%;
	display:none;

	ul li {
		width: 75%;
		margin-left: 10%;
		border: 1px solid gray;
		
		list-style: none;
		margin-top: 6px;
		font-size:12px;
		padding: 10px 5px 0px 5px;
		height: 27px;
		height:27px;
		text-align: center;
		cursor:pointer;
		opacity: 1;
		color:#fff;

		&:hover {
			
			-moz-box-shadow:    0px 0px 5px #ccc;
			-webkit-box-shadow: 0px 0px 5px #ccc;
			box-shadow:         0px 0px 5px #ccc;
			color:#fff;
			opacity:1;

		}
	}

	ul li:nth-child(2) {
		background: red;

		&:hover {
			background:gray;
			border:1px solid red;
		}

	}

	ul li:nth-child(1) {
		background: green;
		&:hover {
			background:gray;
			border:1px solid green;
		}
	}

	ul li:nth-child(3) {
		background: #9c9c9c;
margin-top: 15px;
margin-left: 29%;
width: 39%;

		&:hover {
			background:gray;
			border:1px solid #9c9c9c;
		}
	}

	.grayed_out {
		background: gray;
		opacity : .3;
	}
}

.warm_up_later {
	min-height: 170px;
height: auto;
width: 80%;
margin-left: 10%;
display: none;

	ul li {
		width: 23%;
		margin-left: 15%;
		border: 1px solid gray;
		float: left;
		list-style: none;
		margin-top: 15px;
		font-size:12px;
		padding: 10px 5px 0px 5px;
		height: 27px;
		height:27px;
		text-align: center;
		cursor:pointer;
		opacity: 1;
		color:#fff;
		width: 60%;
margin-left: 18%;
background: #3b5998;


		&:hover {
			
			-moz-box-shadow:    0px 0px 5px #ccc;
			-webkit-box-shadow: 0px 0px 5px #ccc;
			box-shadow:         0px 0px 5px #ccc;
			color:#fff;
			opacity:1;
			background:gray;
			border:1px solid #3b5998;

		}
	}

	input[type=text] {
		width:100px;
		margin-left:17%;
	}

	.grayed_out {
		background: gray;
		opacity : .3;
	}
}

