body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  padding:0px;
  margin:0px;
  margin-top:-13px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  margin:0px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  text-decoration: none;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors{
  padding: 2px;
  display: table;
  color:red;
}


.field_with_errors .message {
  background:inherit;
  padding-left:5px;
  font-size:12px;
}
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: none;
  }
}


// best_in_place
.purr {
  position: fixed;
  top: 30px;
  right: 100px;
  width: 250px;
  padding: 20px;
  background-color: #FCC;
  border: solid 2px #666;
  &:first-letter { text-transform: uppercase };
} 

.andrew {
    padding:15px;
    color:#E97272;
    -moz-box-shadow:    0px 0px 5px #3C4458;;
    -webkit-box-shadow: 0px 0px 5px #3C4458;;
    box-shadow:         0px 0px 5px #3C4458;;
    width:300px;
    
    margin-top:5px;
    background:#F38C8C;
    color:white;
}

.collection_submit {
  margin-top:50px;
  margin-left:50px;

}

.submit_btn {
  border-radius: 10px;
  webkit-border-radius: 10px;
  moz-border-radius: 10px;
  -moz-box-shadow:    0px 0px 5px #ccc;
  -webkit-box-shadow: 0px 0px 5px #ccc;
  box-shadow:         0px 0px 5px #ccc;
  text-align: center;
  height:30px;
  width:auto;
  padding:5px;
}


