// header //
.header_container {
  width: 100%;
  height: 50px; 
  background: #D53838;  

  .thousand_wide_container {
    background:155, 0, 14;
    height:50px;
    width:1000px;
    padding:5px;
    //background:gray;
  }
}

ul.nav_bar {

  a li {
    list-style: none;
    color: black;
    text-align: center;
    font-size: 17px;
    text-decoration: none;
    float:left;
  }

  a:hover li {
    color:#fff;
  }
      
}

ul.left_side {
  position:absolute;
  left:20px;
}
ul.middle {
  position:absolute;
  margin-left:210px;

  a li {
    width:150px;
    margin-left:10px;
  }
}
ul.right_side {
  position:absolute;
  right:30px;

  a li {
    width:75px;
    margin-left:20px;
  }
}