// // header //
.message_helper {
	color:#355998;
	width:200px;
	min-height: 50px;
	height:auto;
	background: inherit;
	display:none;
}

.menu_accordian {
	width: 92%;
	float:none;
	padding: 4%;
	background: #3b5998;
	clear: both;
	cursor:pointer;
	
 background-color:#E66900;
 filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#E66900, endColorstr=#8d4000);
 background-image:-moz-linear-gradient(top, #E66900 0%, #8d4000 100%);
 background-image:-webkit-linear-gradient(top, #E66900 0%, #8d4000 100%);
 background-image:-ms-linear-gradient(top, #E66900 0%, #8d4000 100%);
 background-image:linear-gradient(top, #E66900 0%, #8d4000 100%);
 background-image:-o-linear-gradient(top, #E66900 0%, #8d4000 100%);
 background-image:-webkit-gradient(linear, right top, right bottom, color-stop(0%,#E66900), color-stop(100%,#8d4000));
	font-size: 40px;
	text-shadow: 0 -1px 0 black;
	font-weight: bold;
	border-bottom: 3px groove #008DBB;
}

.hide {
	display:none;
}

// warm up notication on within master menu
.warm_ups {
	width: 80%;
	margin: 5px auto;
	min-height: 50px;
	padding: 5px;
	background: #fff;
	-webkit-box-shadow: 0px 0px 5px gray;
	-moz-box-shadow: 0px 0px 5px gray;
	box-shadow: 0px 0px 5px gray;
	color: gray;

	ul li {
		list-style: none;
		text-align:left;

	}

	h2 {
		font-size:11px;
		background:inherit;
		cursor: default;
	}

}


